.header {
        width: 1000px;
        border-collapse:collapse;
        background: none;
}

.header td {
        width: 500px;
}

body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
}

a {
	color: #c75f3e;
}

#mytable {
	width: 1000px;
	padding: 0;
	margin: 0;
}

caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

#mytable th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
}

#mytable th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

#mytable td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


#mytable td.alt {
	background: #F5FAFA;
	color: #797268;
}

#mytable th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#mytable th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

.mainform input[type="text"] {
    width: 80px;
}

.button {
}
.big {
    width: 200px;
    height: 150px;
    font-size: 2em;
    position: relative;
    float: right;
    
}
.dog {
    color: red;
}

#settingslink {
    
}



/* On build.php */
#buildsummary {
    margin: 5px;
    padding: 8px;
    width: 600px;
    background: #DDFED1;
}

#downloadfiles {
    background: white;
    margin-left: 10px;
    padding: 8px;
    width: 600px;
}
#downloadfiles br {
    display: none;
}
#downloadfiles a {
    display: block;
    padding: 0px;
    margin: 3px 0px 0px 20px;
}
